<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
@*        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Bootstrap -->
    <link href="content/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
   @RenderBody()
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
  </body>
</html>